body {
    font-family: sans-serif;
    /* opacity: 0.87; */
    /* background-color: #121212; */
    background-color: #000000;
    color: #F4F4F4;
    color: #dbdbdb;
    color: #c3c3c3;
    font-weight: 100;
}
h1, h2 {
  font-weight:500;
  color: #B09ADB;
    /* font-family: serif; */
}

h1 {
  font-size:35px;
}

h2 {
  font-size:25px;
}

h3 {
  font-weight:500;
  font-size:20px;
  /* color: #D6AC11; */
  color: #E2C458;
    /* font-family: serif; */
}

h4, h5, h6 {
  /* color: #D6AC11; */
  color: #E2C458;
    /* font-family: sans-serif; */
}

.float {
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  /* background-color: #1f1f1f; */
  /* background-color: #2c2c2c; */
  background-color: #121212;
  vertical-align: 'center'
}

.eq {
  font-family: serif;
}

img {
  /* filter: grayscale; */
  opacity: 1;
}

.rc-slider-track {
  background-color: #B09ADB;
}

.rc-slider-dot-active {
  border-color: #B09ADB;
  border: solid 2px #B09ADB;
}

.rc-slider-handle {
  background-color: #B09ADB;
  border-color: #B09ADB;
}

.rc.slider-handle:hover {
  border-color: #B09ADB;
}

.rc.slider-handle-active:active {
  border-color: #B09ADB;
}
